body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    line-height: 24px;
}
.logo {
    width: 50px;
    border-radius: 10px;
}
.toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.loading {
    position: fixed;
    top: 30%;
    text-align: center;
    width: 100%;
}